
.menu{
    position: absolute;
    left: 355px;
}
.heade{
 position: absolute;
 top: 100px;
 left: 340px;
 
}
.navigation{
   overflow: hidden;
   padding:15px 10px;
   transition: 0.3s;
   position:fixed;
   z-index: 99;
   
}
.navigation a{
    text-decoration: none;
    color:rgb(222, 222, 223);
    padding-left: 18px;
    
}
.navigation a:hover {
    border-top: 5px;
    border-color:rgb(122, 204, 248);
    color:rgb(199, 204, 151);
  }